@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #08080f; font-family: 'Courier New', monospace; }
input, textarea, button { font-family: inherit; }
input:focus, textarea:focus, button:focus { outline: none; }
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #08080f; }
::-webkit-scrollbar-thumb { background: #1e1e3a; border-radius: 4px; }